.kb_star header {
    padding: 16px 16px 0 16px;
    height: 55px;
    width: 100%;
}
.kb_star .top {
    background-color: #fff;
    border: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    box-shadow: 0 0 0.75rem rgba(0 0 0 / .3);
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 99;
}
.top span {
    display: block;
    border-right: 2px solid #666;
    border-top: 2px solid #666;
    width: 0.875rem; /*14*/ 
    height: 0.875rem; /*14*/
    position: absolute;
    top:58%;
    left:50%;
    transform: translate(-50%,-50%)  rotate(-45deg);
}
.back{
    width: 100%;
     
}
.kab_star .back img{
    width: 75%;
    /* height: 28%; */
    position: absolute;
    right:0;
    z-index: -1;
}
header .wrap {
    display: flex;
    justify-content: space-between;

}
header .wrap h1  {
    width: 5rem;/*px*/
}
header .wrap h1 a {}
header .wrap h1 a img {
    width: 100%;
    vertical-align: top;
}
header .wrap .h_txt  {
    text-align: right;  
    color: #fff;
    background-color: transparent;
    /* text-decoration:underline; */
    border: none;
    font-weight: 300;
    padding: 10px 20px; 
    border:1px solid #fff;
    border-radius: 30px;
 
}
header .wrap .h_txt:hover {
    background-color: #fff;
    color: #ffcc00;
    font-weight: 500;
}
header .wrap .h_txt  {
    text-align: center;
}
.banner {
    padding: 16px 16px 60px 16px;
}
.banner .title {}
.banner .title h2  {
    font-weight: 800;
    font-size: 1.5rem;/*20px*/
    color: #333;
}
.banner .title h2 span {
    color: #ffcc00;
    background-image: linear-gradient(
        rgba(0 0 0 / 0) 60%,
        #fff5cc 60%,
        #fff5cc 90%,
        #ffff 90%
    );
}
.banner .title p {
    color: #6D6E71;
}
.banner .con {
    margin-top: 44px;/*위치수정*/
}
.banner .con  .item{}
.banner .con  .moc{
    width: 100%;
}
.banner .con  .moc .pic{
    width: 280px;
    margin: 0 auto;
}
.banner .con  .moc .pic img{
    width: 100%;
}
.banner .con  .sub{}
.banner .con  .sub .txt{}
.banner .con  .sub .txt li{
    display: flex;
    margin-bottom: 10px;    
}
.banner .con  .sub .txt li:last-child{
    margin-bottom: 10px;    
}
.banner .con  .sub .txt li h4{}
.banner .con  .sub .txt li span{
    padding-left: 50px;
}
.banner .con  .sub .txt .key{}
.banner .con  .sub .txt .tool{}
.banner .con  .sub .txt .tool span {
}
.banner .con  .sub .txt .tool span img {
    width: 80%;
}
.banner .con  .sub .web {
    display:block;
    text-align: center;
    margin-top: 45px;
    margin:20px auto 0;
    padding:12px 28px;
    border: 1.5px solid #ffcc00;
    border-radius: 12px;
    transition: background-color .3s;   
}
.banner .con  .sub .web span {
    color: #ffcc00;
    font-size: 1.375rem;/*22px*/
    font-weight: 500;
}
.banner .con  .sub .web:hover {
    background-color: #ffcc00;
}
.banner .con  .sub .web:hover span {
    color: #fff;
}
.web {
    display:block;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 45px;
    /* margin:20px auto 0; */
    padding:12px 28px;
    border: 1.5px solid #ffcc00;
    border-radius: 12px;
    transition: background-color .3s;   
}
.web span {
    color:#ffcc00;
    font-size: 1.375rem;/*22px*/
    font-weight: 500;
}
.web:hover {
    background-color: #ffcc00;
}
.web:hover span {
    color: #fff;
}

/* banner */
section {
    padding: 0 16px;
}
section .main_title {
    color: #ffcc00;
    font-size: 1.8rem;
    margin-bottom: 16px;
}
section .main_title span {
    background-image: linear-gradient(
        rgba(0 0 0 / 0) 70%,
        #fff5cc 70%
    );
}
/* main_title */
section .sub_title {
    padding-bottom: 16px;
    font-size: 1.25rem;
}
section .sub_title span {
  
}
/* sub_title */

.section1 {
    margin-top: 30px;
    padding-bottom: 30px;
}
.section1 .row1 {
    padding-bottom: 60px;
}
.section1 .row1 .con{
    display: flex;
    justify-content: space-between;
 
  
}
.section1 .row1 .con .item{
   height: auto;
   width: calc(50% - 8px);
}
.section1 .row1 .con .box{
   padding: 30px 0;
   /* background-color: #fde9e2; */
   background-image: linear-gradient(
    90deg,
    rgba(241 90 41/.02) 0%, #fff5cc 100% /*fcd7ca 35*/ /*fffbfa 45*/ /*fde9e2 40*/
   );
   border-radius: 1.5rem;
}
.section1 .row1 .con .box .box_inner{

}
.section1 .row1 .con .box .box_inner .money{
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.section1 .row1 .con .box .box_inner .money a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.section1 .row1 .con .box .box_inner .money img{
    width: 48%;
    transition: all .3s;

}
.section1 .row1 .con .item:hover img {
    transform: scale(1.2);
}
.section1 .row1 .con .txt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.section1 .row1 .con .txt p{
    color: #666;
}
.section1 .row1 .con .txt .arrow01 span{
    display: block;
    margin: 0 auto;
    /* transform: translate(-50%,-50%); */
    width:  0.875rem;/*14*/
    height:  0.875rem;/*14*/
    transform: rotate(45deg);
    border-bottom: 2px solid #ffcc00;
    border-right: 2px solid #ffcc00;
}
.section1 .row1 .con .txt .tit{
   
}
.section1 .row1 .con .txt .tit p{
    
}
.section1 .row1 .con .txt .tit h3{
    color: #333;
    padding-top: 2x;
    /* text-wrap: nowrap; */
    font-size: 1rem;
}
.section1 .row1 .con .txt .tit h3 span{
    background-color: #ffcc00;
    padding: 0 4px;
    font-weight: 600;
    color: #fff;
}
/* row1 */
.section1 .row2 {
    margin-bottom: 30px;
}
.section1 .row2 .sub_title{
    color: #666;
}

.section1 .row2 .con,.section1 .row2 .con2{
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;
    margin-bottom: 16px;
    list-style: disc;
    /* list-style: disc; */
}
.section1 .row2 .con li{
    text-align: center;
    padding-bottom: 8px;
    color: #888;
    opacity: .6;
    width: 140px;
    margin: 0 auto;   
}
.section1 .row2 .con li:last-child{
    padding-bottom: 0;
}
.section1 .row2 .con2 p {
    color: #999;
    opacity: .6;
    font-size: 0.875rem;
    line-height: 1.5;
}
/* row2 */
.section1 .arrow02{
    width: 1.5rem;
    height: 2rem;
    margin: 0 auto;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}
.section1 .arrow02 img{
    width: 100%;
}
/* arrow02 */
.section1 .row3 {
    margin-top: 30px;
    padding-bottom: 30px;
}
.section1 .row3 .sub_title{
    color: #ffcc00;
}
.section1 .row3 .con,section1 .row3 .con2{
    padding: 20px;
    background-image: linear-gradient(
    90deg,
    rgba(241 90 41/.02) 0%, #fff5cc 100% /*fcd7ca 35*/ /*fffbfa 45*/ /*fde9e2 40*/
   );
    border-radius: 8px;
    margin-bottom: 16px;
    list-style: disc;
    /* list-style: disc; */
}
.section1 .row3 .con2 {
    background-color: #ffcc00;
    background-image: unset;
  }
.section1 .row3 .con li{
    text-align: center;
    padding-bottom: 8px;
    color: #ffcc00;
    width: 140px;
    margin: 0 auto;   
}
.section1 .row3 .con li:last-child{
    padding-bottom: 0;
}
.section1 .row3 .con2 p {
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.5;
    text-align: left;
}
.section1 .row3 .con2 p span {
    background-color: #fff;
    color: #ffcc00;
    font-weight: 500;
    padding: 2px;    
}
.section1 .row3 .result {
    color: #ffcc00;
    margin-top: 32px;
    font-weight: 500;
    text-align: center;
    font-size: 1rem;
}
/* section1 */
.section2 {
    margin-top: 30px;
    padding-bottom: 30px;
}
.section2 .con {}
.section2 .con .item {}
.section2 .con .item .item_inner {}/*여기 pc에서 display*/
.section2 .con .item .item_inner .box01 {}
.section2 .con .item .item_inner .box01 .cell{}
.section2 .con .item .item_inner .box01 .cell>div {
   
}
.section2 .con .gap {
    margin-bottom: 2.5rem;
}
.section2 .con .item .item_inner .box01 .cell>div h4{}
.section2 .con .item .item_inner .box01 .cell>div div{}
.section2 .con .item .item_inner .box01 .cell>div .logo_image{
    width: 140px;
}
.section2 .con .item .item_inner .box01 .cell>div .icons{}
.section2 .con .item .item_inner .box01 .cell>div .graphic{}
.section2 .con .item .item_inner .box01 .cell>div div img{} 
.section2 .con .item img{
    width: 100%;
} 
.section2 .con .item .box02 {}
.section2 .con .item .box02 .cell{}
.section2 .con .item .box02 .cell h4{}
.section2 .con .item .box02 .cell .color_sys{
    width: 140px;
}
.section2 .con .item .box02 .cell .color_sys img{}

.section2 .con .item {}
.section2 .con .item h4{}
.section2 .con .item .tit{
    font-size:1.5rem ;
    margin-bottom: 16px;
    color: #ffcc00;
}
.section2 .con .item .tit span {
    font-weight: 400;
}
.section2 .con .item .obj{
    width: 100%;
}
.section2 .con .item .obj .unit{}
.section2 .con .item .obj .unit ul li {
    line-height: 1.8;
}
.section2 .con .item .obj .unit>ul:first-child {
    margin-bottom: 1rem;}
.section2 .con .item .obj .unit>ul{
    padding: 12px;
    background-color: #f2f2f2;
    border-radius: 0.625rem;
}
.section2 .con .item .obj .unit>ul li{}
.section2 .con .item .obj .unit>ul li .set{
    display: flex;
}
.section2 .con .item .obj .unit>ul li .set li:not(:first-child){
    margin-left: 16px;
}
/* section2 */
.section3 {
        margin-top: 40px;
        padding-bottom: 40px;
}
.section3 .col {
}

.section3 .col .row{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
   
}
.section3 .col .row:not(:last-child):after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin-top:10%;
}
.section3 .col .row .pic {
    width: 100%;
    vertical-align: top;
}
.section3 .col .row .pic img {
    width: 100%;
}
.section3 .col .row .info {}
.section3 .col .row .info h4 {
    /* color: #333; */
    color: #60584c;
    padding-bottom: 0.75rem;/*12*/
}
.section3 .col .row .info .box {
    /* background-color: #fde9e2; */
    background-color: #f2f2f2;
    padding: 1rem;
    border-radius: 8px;
}
.section3 .col .row .info .box  p{
    color: #888;
}